<p
  style="
    margin-top: 0pt;
    margin-bottom: 2pt;
    line-height: 108%;
    font-size: 14pt;
    background-color: #fca1a9;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  "
>
  <span style="font-family: 'TH SarabunPSK'; font-size: 16pt"
    >Please check the status of request No.</span
  ><strong
    ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt">
      #{{request_id}}</span
    ></strong
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 14pt;
  "
>
  <strong
    ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt"
      >&nbsp;</span
    ></strong
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 14pt;
  "
>
  <span style="font-family: 'TH SarabunPSK'; font-size: 16pt"
    >LSD Request ::</span
  ><strong
    ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt">
      [ {{request_system_name}} ]</span
    ></strong
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 14pt;
  "
>
  <span style="font-family: 'TH SarabunPSK'; font-size: 16px">Topic :</span
  ><span style="font-size: 14px"
    ><strong
      ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt">
        {{request_title}}</span
      ></strong
    ></span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 14pt;
  "
>
  <span style="font-family: 'TH SarabunPSK'; font-size: 16px"
    >Description :</span
  ><span style="font-size: 14px"
    ><strong
      ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt">
        {{request_description}}</span
      ></strong
    ></span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 14pt;
  "
>
  <span style="font-family: 'TH SarabunPSK'; font-size: 16px">Requestor :</span
  ><span style="font-size: 14px"
    ><strong
      ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt">
        {{requestor_name}}</span
      ></strong
    ></span
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 14pt;
  "
>
  <span style="font-family: 'TH SarabunPSK'; font-size: 16px"
    >Information [Assignment] :</span
  ><span style="font-size: 14px"
    ><strong
      ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt"
        >&nbsp;</span
      ></strong
    ></span
  ><a
    href="http://10.182.1.198/lsd-request/#/assignment/{{request_id}}"
    style="text-decoration: none"
    ><strong
      ><span
        style="
          font-family: 'TH SarabunPSK';
          color: rgb(70, 120, 134);
          font-size: 14px;
        "
        ><u>Click To "Assignment" LSD Request</u></span
      ></strong
    ></a
  >
</p>
<p
  style="
    margin-top: 0pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 14pt;
  "
>
  <span style="font-family: 'TH SarabunPSK'; font-size: 16px"
    >Information [Process] :</span
  ><span style="font-size: 14px"
    ><strong
      ><span style="font-family: 'TH SarabunPSK'; font-size: 16pt"
        >&nbsp;</span
      ></strong
    ></span
  ><a
    href="http://10.182.1.198/lsd-request/#/process/{{request_id}}"
    style="text-decoration: none"
    ><strong
      ><span
        style="
          font-family: 'TH SarabunPSK';
          color: rgb(70, 120, 134);
          font-size: 14px;
        "
        ><u>Click To "Process" LSD Request</u></span
      ></strong
    ></a
  >
</p>
